@font-face {
    font-family: MonumentExtendedRegular;
    src: url("../fonts/MonumentExtended-Regular.otf") format("opentype");
}
@font-face {
  font-family: NeueMachinaUltrabold;
  src: url("../fonts/NeueMachina-Ultrabold.otf") format("opentype");
}
body {
  background-image: url("../images/LOOPS(red).png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

p1{
  font-family: MonumentExtendedRegular;
  font-size: 3.25vh;
  color: #737373;
  z-index:0;
}
p2{
  position:fixed;
  font-family: NeueMachinaUltrabold;
  font-size: 2.7vh;
  color: black;
  z-index:0;
}
a{
  font-family: NeueMachinaUltrabold;
  font-size: 4vh;
  color: #00e600;
  text-decoration: none;
  z-index:1;
}
.topLeft{
  position: fixed;
  width: 30px;
  top: 29vh;
  left:4vh;
}
.topRight{
  position: fixed;
  top: 10vh;
  right:40vw;
}
.topRightX{
  position: fixed;
  top: 2vh;
  right: 1.5vw;
}
.bottomRight{
  position: fixed;
  width: 30px;
  bottom: 28vh;
  right:6vh;
}
.bottomLeft{
  position: absolute;
  width: 30px;
  bottom: 2vh;
  left:5vh;
}
.centre{
  margin: auto;
  text-align: left;
  left: 10%
}

.contactsDiv{
  position: fixed;
  top: 32%;
}

.contactsBodyRow1{
  position:absolute;
  top: 31%;
  right: 31%;
  font-family: NeueMachinaUltrabold;
  font-size: 18px;
  color: black;
  width: 300px;
}

.contactsBodyRow2{
  position:absolute;
  top: 31%;
  right: 5%;
  font-family: NeueMachinaUltrabold;
  font-size: 18px;
  color: black;
  width: 300px;
}

.logoRowHome {
  position: fixed;
  top: 30vh;
  left: 7%;
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

.logoColumnHome {
  float: left;
}

.logoColumnHome img {
  height: 30px;
  width: auto;
}

.logoRow {
  position: fixed;
  top: 14vh;
  left: 47%;
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

.logoColumn {
  float: left;
}

.logoColumn img {
  height: 20px;
  width: auto;
}

@keyframes flickerAnimation {
  0%   { text-decoration:line-through; }
  50%  { text-decoration:none; }
  100% { text-decoration:line-through; }
}
.animate-flicker {
    animation: flickerAnimation .1s infinite;
}
.footer {
  position: fixed;
  font-family: NeueMachinaUltrabold;
  font-size: 8vh;
  color: #8c8c8c;
  left: 0;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color:white;
  z-index:0;
}

.contactGrid {
  position:absolute;
  left: 13vw;
  top: 27vh;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-gap: 0px;
  grid-align: right;
  background-color: white;
  padding: 0px;
}

.contactGrid > div {
  border: 1px solid #00e600;
  text-align: right;
  padding:2px;
  font-family: NeueMachinaUltrabold;
  color: #00e600;
  font-size: 15px;
}
